body {
    background-image: url("../images/star-wars-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    color: gold;
}

h1 {
    color: red;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

.jumbotron {
    height: 80px;
    vertical-align: middle;
}

.hp {
    color: greenyellow;
}

.character-image {
    float: left;
    text-align: center;
    width: 24.8%;
    border: solid 2px teal;
    margin: 1px;
}

#button {
    margin-bottom: 10px;
    margin-top: 10px;
}



