body {
    background-image: url("../images/star-wars-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    color: gold;
}

h1 {
    color: red;
}

h2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    color: white;
}

.name {
    margin-bottom: 0;
}

.jumbotron {
    height: 80px;
    vertical-align: middle;
}

.jumbotron.mb {
    margin-bottom: 7px;
}

.health {
    color: greenyellow;
    font-weight: bold;
}

.character-image {
    float: left;
    text-align: center;
    width: 24.8%;
    border: solid 2px silver;
    margin: 1px;
}

.chosen-one {
    border: double 6px cyan;
}

.enemy-now {
    border: solid 2px red;
}

.defender-now {
    border: double 6px red;
}

#restart {
    float: right;
    margin-bottom: 10px;
}
